body {
	background: $dark-bg;
	font-family: $ft-content;
}

a {
	text-decoration: none;
}

.is-connected {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.hidden {
	display: none;
}

.todo {
	background: #E42A2A;
}

.done {
	background: #AFB2AC;
}

.new {
	background: #8FCB48;
}

.show {
	display: block !important;
}