.contacts {
    padding: 47px 40px 47px 40px;
	background: #2d2d2d;

    &__head {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 60px;

        &__btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: 12px;

            img {
                height: 25px;
                margin-right: 20px;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            a {
                margin-right: 20px;
            }
        }

        form {
            width: 100%;
            margin-left: 25px;
        }

        input {
            width: 100%;
            padding: 15px 15px;
            border: 1px solid #CCCCCC;
        }
    }

    &__intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-right: 10px;
    }

    &__title {
        font-family: $ft-title;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 15px;
        color: $white;
    }

    &__introTxt {
        font-size: 16px;
        color: $white;
        font-weight: bold;
    }

    &__addBtn {
        width: 45px;
        cursor: pointer;
    }

    &__searchImg {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 15px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
    }
}