.contacts {
    padding: 47px 40px 47px 40px;
    background: $white;

    &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        div {
            display: flex;
            width: 40%;
            font-family: $ft-content;
            font-size: 12px;
        }

        form {
            width: 100%;
            margin-left: 25px;
        }

        input {
            width: 100%;
            padding: 15px 15px;
            border: 1px solid #CCCCCC;
        }
    }

    &__title {
        font-family: $ft-content;
        font-size: 28px;
    }

    &__addBtn {
        width: 45px;
        cursor: pointer;
    }

    &__searchImg {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 15px;
            transform: translateY(-50%);
    }
}