.form {
	display: flex;
	color:$white;
	text-align: center;
	height: 100vh;
	align-items:center;
	&__sign-in {
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		align-items: center;
  		justify-content: center;
		flex-direction:column;
	}
	&__sign-up:hover &__sign-in-opacity {
		display: block;
	}
	&__sign-up {
		background: $black;
	}
	&__sign-up-form-container {
		input {
			background: $dark-bg;
		}
	}
	&__sign-in {
		background: $dark-bg;
	}
	&__sign-in-form-container {
		input {
			background: $black;
		}
	}
	&__sign-in-forget {
		text-align: center;
		color:$orange;
		text-decoration: none;
		margin: 15px auto;
		display: block;
	}
	&__main-title {
		font-size: 40px;
		color:$orange;
		text-transform: uppercase;
		font-family: $ft-title;
		font-weight: bold;
	}
	&__subtitle {
		font-size: 30px;
		font-family: $ft-title;
		margin:30px 0;
		text-align: center;
	}
	&__sign-up-form-container, &__sign-in-form-container {
		div {
			margin-top: 30px;
		}
	}
	div {
		text-align: left;
	}
	input::-webkit-input-placeholder {
		font-style: italic;
	}
	input:-ms-input-placeholder {
		font-style: italic;
	}
	input::-ms-input-placeholder {
		font-style: italic;
	}
	input::placeholder {
		font-style: italic;
	}
	input {
		display: block;
		margin: 10px auto;
		width: 400px;
		border-radius: 22.5px;
		height: 35px;
		color:$orange;
		padding-left: 15px;
		font-family: $ft-content;
	}
	label {
		font-weight: bold;
		text-transform: uppercase;
	}
	input[type=submit] {
		background: $orange-gradient;
		width: 240px;
		margin-top: 40px;
		border-radius: 5px;
		font-size: 16px;
		height: 50px;
		box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
		color:$white;
	}
}