.tasks {
    padding: 47px 40px 47px 40px;
    font-family: $ft-content;
    float: right;
    width: 87%;
    border-radius: 2px;
    color:$white;
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        div {

            span {
                font-size: 12px;
                color: $white;
            }
        }

        form {
            width: 60%;
            margin: 33px auto 60px auto;
        }
    }
    &__form-container {
        background: $black;
        margin: 25px auto;
        border-radius: 2px;
        padding: 10px;
        h2 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
            text-transform: uppercase;
        }
    }

    &__filter {
        width: 95%;
        margin: 20px auto;
        border-radius: 5px;
        background: $dark-bg;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items:center;
        button {
            width: 10%;
            margin-right: 10px;
            padding: 5px;
            color:#fff;
            border: none;
            &:last-of-type {
                margin: 0;
            }
            &:first-child {
                background: #4885CB;
            }
        }
    }

    &__list {
        width: 95%;
        margin: 20px auto;
        border-radius: 5px;
        p {
            margin-bottom: 10px;
            padding: 3px;
        }
    }

    &__input {
        position: relative;
        border-radius:5px; 
        width:696px;
        height: 60px;
        display: block;
        margin: 60px auto;
        padding: 21px 29px;
        font-style: italic;
        background: $dark-bg;
        font-size: 12px;
    }

    &__title {
        font-family: $ft-title;
        font-size: 50px;
        font-weight: bold;
        color: $white;
    }

    .grid-sizer {
        width: calc((100%/4) - (10px - 10px / 4));
    }
}
