.label {
	display: inline-block;
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 24px;
	color: $white;
	box-shadow: 2px 19px 29px -20px rgba(0, 0, 0, 1);

	&:last-of-type {
		margin-right: 0;
	}
}

.label--blogger {
	background: #8fcb48;
}

.label--independant {
	background: #4885cb;
}

.label--youtuber {
	background: #d0621e;
}
